.wrapper{
    width: 960px;
    margin: 0 auto;
    border: 1px solid;
}
.height_one{
    height: 520px;
}
.width_one{
    width: 360px;
    float: left;
    background-color:tomato;
}
.width_two{
    width: 400px;
    float: left;
    background-color:yellow;
}
.width_three{
    width: 200px;
    float: left;
    background-color: red;
}
.width_four{
    width: 320px;
    float: left;
    background-color: blueviolet;
}
.width_five{
    width: 320px;
    float: left;
    background-color: chartreuse;
}
.width_six{
    width:192px;
    float: left;
}
.footer{
    clear: both;
    background-color: darkmagenta;
}